/* CSS Document */

@charset "utf-8";
/* Global Styles */

html,8
html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
	font-family: arial, sans-serif;
	font-size: 1vw;
	background: #2d2d2d;
}

header {
  position: fixed;
  padding: 1em;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  background:rgba(0,0,0,0.2);
  font-family: Impact, Charcoal, sans-serif;
  font-size:36px;
  background-image:-moz-linear-gradient( 135deg, rgb(160,55,220) 0%, rgb(83,200,234) 100%);
  background-image: -webkit-linear-gradient( 135deg, rgb(160,55,220) 0%, rgb(83,200,234) 100%);
  background-image: -ms-linear-gradient( 135deg, rgb(160,55,220) 0%, rgb(83,200,234) 100%);
  letter-spacing: 4px;
}

nav {
  z-index: 400;
  top: 0;
  left: 0;
  opacity: .9;
  position: relative;
  display: block !important;
  float: right;
  width: 33%;
  padding: 40px 40px 0px 0px;
  height: 40px;
}
nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {
	color: #FFFFFF;
	text-decoration: none;
}
ul li:hover a {
	color: #071A1F;
}

.home_header {
	color: #FFFFFF;
	text-align: center;
	margin-top: 150px;
	margin-right: 100px;
	margin-bottom: 0px;
	margin-left: 100px;
	letter-spacing: 4px;
}

/* Home Section */
.home {
  position: relative;
  color: #343144;
  background: #fff;
  height: 150px;
  padding: 4em 4em 4em;
  background-color: #2d2d2d;
  padding-top: 50px;
  padding-bottom: 50px;
}

.beat {
	font-weight: lighter;
	color: #DE0A0A;
}

.tagline {
	text-align: center;
	color: #FFFFFF;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/* Control Bar Section */

.control_bar{
	font-family: Impact, Charcoal, sans-serif;
	height: 50px;
	width: 95%;
	text-align: left;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
	background-color: #686868;
	position: relative;
	padding-top: 10px;
	float: none;
	display: inline-block;
}

input[type="number"] {
	width: 70px;
	padding-right: 0px;
	padding-left: 10px;
	background-color: #686868;
	color: black;
	text-align: left;
	border: none;
	font-size: 18px;
	font-weight: 600;
	opacity: 1;
}

button{
    border: 3px solid black;
    width: 100px;
    height: 40px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: #686868;
    margin-left: 5px;
    margin-right: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: pointer;
}

.onbeat{
	background-color: #686868;
	filter: brightness(120%) !important;
}

button:hover{
    background-color: #8F8D8D;
    filter: brightness(85%);
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

/* Dropdown Button */
.bpm_display{
    text-align: left;
    width: 90px;
    height: 30px;
    background-color: #686868;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 0px;
    font-size: 16px;
    border: none;
    float: left;
    margin: 0px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	width: 200px;
  float: left;
	overflow: hidden;
	margin-top: 3px;
}

.dropdown:hover .dropdown-content{
	display:block;
}

#bpmchoice {
    display: inline-block;
    position: relative;
    background-color: #CECECE;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	font-size: 16px;
	margin: 7px;
}

#bpmchosen{
	width: 45px;
}
/* main body */
[class^="drum"] {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 7% 3% 4% 50%;
  align-items: center;
  padding: 0px;
  margin-left: 10px;
	margin-top: 0px;
}

.name {
    font-family: Impact, Charcoal, sans-serif;
    padding: 5px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 64px;
    height: 20px;
    background: #686868;
    text-align: center;
    border-radius: 5px;
}

.next {
    font-size: 10px;
    width: 30px;
    padding: 0px;
    background: #686868;
    text-align: center;
    margin: 0px;
    border: none;
    border-radius: 85px;
    height: 30px;
	cursor: pointer;
}

#beatmarker{
	background: transparent;
}

/* pads */
.pads {
  display: flex;
  justify-content: space-between;
}

.pads button {
  width: 10px;
  height: 10px;
  min-width: 25px;
  min-height: 25px;
  max-width: 30px;
  max-height: 30px;
  margin: 3px;
  padding: 10px;
  background-color: #686868;
  border: 2px solid darkgray;
  border-radius: 4px;
}

.drum-one .pads button:hover{
	background-color: lightpink;
} 

.drum-two .pads button:hover{
	background-color: rgb(103, 195, 226);
}

.drum-three .pads button:hover{
	background-color: lightgreen;
}

.drum-one .pads button[aria-checked="true"] {
  background-color: rgb(245, 111, 134);
}

.drum-two .pads button[aria-checked="true"] {
  background-color: rgb(54, 139, 218);
}

.drum-three .pads button[aria-checked="true"] {
  background-color: rgb(76, 184, 76);
}
.pads button span {
  display: none;
}

.cell {
  font-size: 12px;
  color: antiquewhite;
  background: #2D2D2D;
  width: 0px;
  height: 10px;
  min-width: 25px;
  min-height: 25px;
  max-width: 30px;
  max-height: 30px;
  margin: 3px;
  text-align: center;
}

/* About Section */
.about {
    margin-top: 0em;
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    height: 30vw;
    background-image: -moz-linear-gradient( -45deg, #cb60b3 0%, #db36a4 100%);
    background-image: -webkit-linear-gradient( -45deg, #cb60b3 0%, #db36a4 100%);
    background-image: -ms-linear-gradient( -45deg, #cb60b3 0%, #db36a4 100%);
    top: 0;
    left: 0;
    width: 100%;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 36px;
}

/* Contact Section */
.contact {
    margin-top: 0em;
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    height: 30vw;
    background-image: -moz-linear-gradient( -45deg, #ebe9f9 0%, #c1bfea 100%);
    background-image: -webkit-linear-gradient( -45deg, #ebe9f9 0%, #c1bfea 100%);
    background-image: -ms-linear-gradient( -45deg, #ebe9f9 0%, #c1bfea 100%);
    top: 0;
    left: 0;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 36px;
    width: 100%;
}
 /* Footer Section*/
footer {
    margin-top: 0em;
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    height: 5vw;
    background-image: -moz-linear-gradient( -45deg, rgb(255,91,127) 0%, rgb(255,213,86) 100%);
    background-image: -webkit-linear-gradient( -45deg, rgb(255,91,127) 0%, rgb(255,213,86) 100%);
    background-image: -ms-linear-gradient( -45deg, rgb(255,91,127) 0%, rgb(255,213,86) 100%);
    width: 100%;
}
.nextfooter {
}
